---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: 'Enero 2025 - Actualidad',
    title: 'Colaborador',
    company: 'Proyecto de Investigación Científica',
    description:
      'Participación en un proyecto impulsado por la universidad, enfocado en la identificación de problemas reales y el desarrollo de soluciones innovadoras mediante el uso de tecnologías emergentes y disruptivas.',
  },
  {
    date: 'Febrero 2024 - Actualidad',
    title: 'Miembro',
    company: 'Grupo de Programación Competitiva',
    description:
      'Formación en resolución de problemas algorítmicos y preparación para competencias como el ICPC. He participado en simulaciones y entrenamientos grupales orientados a fortalecer habilidades de pensamiento lógico y trabajo en equipo.',
  },
  {
    date: '2023',
    title: 'Finalista (2do lugar)',
    company: 'Hackatón - Eneisoft XXIII',
    description:
      'Desarrollo de un sistema web interactivo para la gestión y reserva de laboratorios universitarios, incluyendo la automatización del control de PCs desde la estación principal del profesor para optimizar recursos. La solución abordó problemas de organización y eficiencia, destacando entre las propuestas.',
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
